# Конфигурация приложения уведомлений

# HTTP сервер
# Значения таймаутов указываются в секундах (целое число)
http:
  addr: ":3000"
  shutdown_timeout: 5 # секунды
  read_timeout: 5     # секунды
  write_timeout: 5    # секунды

# Telegram канал
telegram:
  enabled: false
  bot_token: ""
  chat_id: ""
  timeout: 10         # Таймаут для HTTP запросов к Telegram API (секунды)

# Логгер
logger:
  level: "debug"  # Уровень логирования (debug, info, warn, error)

### TODO 1: Добавить возможность выбирать доступные поля и их порядок для отображения в сообщении
### TODO 3: Настройки Telegram вынести в настройки проекта, там же настраивать каналы доступные проекту (youtrack->project->...)